:root {
  --main-color: #000000;
  --accent-color: #9fcd2f;
  --primary-background-color: #edf0f5;
  --secondary-color: #ffffff;
  --price-color: #23496c;
  --link-color: #57b8e9;
  --shadow-color: rgba(0, 0, 0, 0.03);
  --ribbon-corners-color: #c91f30;
  --ribbon-color: #e44251;
  --ribbon-shadow-color: rgba(0, 0, 0, 0.3);

  --mobile-s: 320px;
  --mobile-l: 425px;
  --tablet: 768px;
  --desktop: 1200px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* Reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* main */

.container {
  max-width: var(--mobile-s);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 425px) {
    max-width: var(--mobile-l);
  }

  @media screen and (min-width: 768px) {
    max-width: var(--tablet);
  }

  @media screen and (min-width: 1200px) {
    max-width: var(--desktop);
  }
}

.plans {
  padding-top: 14px;

  background-color: var(--primary-background-color);
}

.plans__title {
  margin-bottom: 37px;

  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.01em;
}

.plans__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.plans__card {
  width: 250px;
  position: relative;
}

.plans__card--popular {
  @media screen and (min-width: 1200px) {
    position: relative;
    top: -15px;
  }
}

.plans__card-wrapper {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-color);

  border-radius: 8px;

  box-shadow: 0 3px 5px 1px var(--shadow-color);
}

.plans__card-wrapper--popular {
  padding-bottom: 30px;

  border: 2px solid var(--accent-color);
}

.plans__name {
  margin-bottom: 26px;

  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.plans__price {
  margin-bottom: 36px;

  text-align: center;
}

.plans__price--yearly {
  margin-bottom: 20px;
}

.plans__currency-sign {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--price-color);
}
.plans__cost {
  font-family: 'Inter', sans-serif;
  font-size: 70px;
  line-height: 1;
  color: var(--price-color);
  letter-spacing: -0.5px;
}
.plans__period {
  line-height: 3;
}

.plans__benefits-list {
  width: 180px;
  margin-bottom: 36px;

  display: grid;
  gap: 15px;
}

.plans__benefits-item {
  position: relative;

  display: flex;
  align-items: center;

  line-height: 1.5;
  text-indent: 27px;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: -0.2px;
}

.plans__benefits-item::before {
  content: '';

  width: 18px;
  height: 18px;

  position: absolute;
  top: 2px;

  display: block;

  background-image: url(../img/green-check-mark-verified-circle-16223.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.plans__signup-btn {
  width: 100%;
  height: 35px;
  padding-top: 7px;
  padding-bottom: 7px;

  display: inline-block;

  text-align: center;
  color: var(--link-color);
  line-height: 1.6;
  letter-spacing: -0.5px;
  font-size: 12px;

  border: 1px solid var(--main-color);
  border-radius: 5px;

  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.plans__signup-btn:hover,
.plans__signup-btn:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.plans__popular-box {
  width: 100px;
  height: 100px;

  position: absolute;
  top: -3px;
  right: -3px;

  overflow: hidden;

  z-index: 2;
}

.plans__ribbon {
  width: 110px;
  padding-top: 2px;
  padding-bottom: 2px;

  position: absolute;
  top: 20px;
  right: -25px;

  display: flex;
  justify-content: center;

  text-align: center;
  background-color: var(--ribbon-color);
  box-shadow: 0 10px 5px -7px var(--ribbon-shadow-color);

  transform: rotate(45deg);
}

.plans__popular {
  font-size: 10px;
  font-weight: 700;
  color: var(--secondary-color);
}

.plans__ribbon-corners {
  width: 104px;
  height: 100px;

  position: relative;
  top: 0;
  left: -2px;

  transform: rotate(45deg);

  overflow: hidden;
}

.plans__ribbon-cover {
  width: 15px;
  height: 15px;

  background-color: var(--ribbon-corners-color);

  overflow: hidden;
}

.plans__ribbon-cover--left {
  position: absolute;
  top: 20px;
  left: -8px;

  transform: rotate(45deg);
}

.plans__ribbon-cover--right {
  position: absolute;
  top: 21px;
  right: -9px;

  transform: rotate(45deg);
}
