/* Reset */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

/* main */

.container {
  max-width: 1200;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.user-form {
  width: 200px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.user-form input {
  width: 100%;
}

.add-btn,
.save-btn {
  width: 100px;

  display: inline-block;
}

.add-btn.is-hidden {
  display: none;
}

.save-btn.is-hidden {
  display: none;
}

table {
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #2a2a2a;
}

.empty-message {
  color: tomato;
}

.empty-message.is-hidden {
  display: none;
}

.sort-btn {
  border: none;
  background-color: transparent;
}

.sort-btn.sorted::after {
  content: '\21C5';
  margin-left: 5px;
}

.return {
  display: block;
  margin: 20px;
}
